<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="de.saschawillems.vulkanMultisampling"
        android:versionCode="1"
        android:versionName="1.0">

    <uses-sdk android:minSdkVersion="19" />

    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.gamepad" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>

    <application android:label="vulkanMultisampling" android:icon="@drawable/icon" android:hasCode="false">
		<activity android:name="android.app.NativeActivity"
                android:label="Multisampling"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
				android:launchMode="singleTask"
                android:configChanges="orientation|screenSize|keyboardHidden">
			<meta-data android:name="android.app.lib_name" android:value="vulkanMultisampling" />
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
