<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.saschawillems.vulkanTriangle">
    <uses-sdk android:minSdkVersion="19" /> 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="vulkanTriangle" android:hasCode="false">
		<activity android:name="android.app.NativeActivity"
                android:label="vulkanTriangle"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
				android:launchMode="singleTask"
                android:configChanges="orientation|screenSize|keyboardHidden">
			<meta-data android:name="android.app.lib_name" android:value="vulkanTriangle" />
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
